.IndexItem {
  border: 1px solid var(--lightest-purple);
  border-radius: 1em;
  height: 42.5vmin;
  width: 37.5vmin;
  margin-bottom: 2.5vmin;
  flex-direction: column;
  align-items: center;
  /* background: radial-gradient(ellipse closest-side at center, rgb(124, 113, 179), #D7DDE8); */
  /* background: radial-gradient(ellipse closest-side at center, #D7DDE8, rgb(124, 113, 179)); */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  box-shadow: rgba(154, 128, 199, .4) 0px 15px 60px -12px inset, rgba(154, 128, 199, 0.3) 0px 682px 36px -18px inset, rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
  /* box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0,/ 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; */
  /* box-shadow: rgba(154, 128, 199, .4) 0px 15px 60px -12px inset, rgba(154, 128, 199, 0.3) 0px 682px 36px -18px inset, rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px; */
  /* box-shadow: rgba(154, 128, 199, .4) 0px 15px 60px -12px inset, rgba(154, 128, 199, 0.3) 0px 682px 36px -18px inset, rgba(0, 0, 0, 0.15) 0px 3px 3px 0px; */
}

.img-idx-container {
  background-color: white;
  height: 30vmin;
  width: 30vmin;
  margin-top: 3vmin;
  border: 1px solid var(--lightest-purple);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  border-radius: 10px;
}

.product-idx-img {
  height: 27.5vmin;
}