/* .IndexItem {
  border: 1px solid var(--lightest-purple);
  border-radius: 1em;
  height: 24em;
  color: white;
  font-family: 'Karla';
  font-weight: bold;
  width: 20.5em;
  margin-bottom: 2.5vmin;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  background: linear-gradient(to top, rgba(154, 128, 199, 0.8), #fff);
} */

.IndexItem {
  outline: 0.5px solid var(--light-grey);
  width: 23em;
  margin: 0;
  height: 25em;
  flex-direction: column;
  background-color: white;
}

.IndexItem h4 {
  font-weight: bold !important;
  font-size: 1.3em;
  text-align: center;
  color: var(--light-grey);
  color: rgb(97, 97, 97);
  color: var(--light-purple);
  color: var(--lighter-purple);
  padding: 10px 15px;
  padding-top: 15px;
}

.price-idx-add {
  justify-content: space-between;
  padding: 0 5em;
  width: 100%;
}

.IndexItem p {
  font-family: 'Nunito';
  display: inline;
  margin: 0;
}

/* CHANGE FROM VMIN TO REM/EM/PX */
.img-idx-container {
  background-color: white;
  height: 16.65em;
  width: 16.65em;
  /* margin-top: 3vmin; */
  border: 1px solid var(--white-line);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 15px;
  overflow: hidden;
  /* margin-bottom: 7.5px; */
}

.product-idx-img:hover {
  transform: scale(1.05);
  transition: 0.5s;
}

.product-idx-img {
  height: 25.5vmin;
}

.IndexItem button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--grey-text);
  position: relative;
  left: 9em;
}

.add-cart-con {
  height: 1em;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 40
}