.SignUpForm {
  margin-top: 2vmin;
}

.SignUpForm input:focus {
  caret-color: var(--lightest-purple);
  border-color: var(--lightest-purple);
  box-shadow: none;
}

.SignUpForm input[type=text],
.SignUpForm input[type=email],
.SignUpForm input[name=password] {
  margin-bottom: 1.5em;
}

.SignUpForm input[name=confirm] {
  margin-bottom: 2em;
}

.SignUpForm label {
  align-self: flex-start;
  color: var(--light-grey);
}

.signup-btn {
  padding: 0.5em;
  width: 9.5em;
  letter-spacing: 1px;
  border: 1px solid var(--light-purple);
  background-color: var(--light-purple);
  color: white;
  transition: all 0.3s ease;
  overflow: hidden;
}

.signup-btn:hover {
  border: 1px solid var(--light-purple);
  background-color: white;
  color: var(--light-purple);
  transition: 0.3s ease;
}